.Container {
  width: 100%;

  .Icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    svg {
      @apply bg-gray-100 p-2 rounded-full;
      height: 50px;
      width: 50px;
    }

  }

  .Title {
    margin-top: 1rem;
    text-align: center;
  }

}